.idea
typings
node_modules
jspm_packages
link-checker-results.txt
**/*npm-debug.log.*
*.js
*.js.map
_test-output
_temp
*.suo
npm-debug.log
*.suo
Server/.vs/Server/v14/.suo
*.js
serverjs/server.js
*.txt
serverjs/server.js
*.suo
Server/Server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Server/Server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
