<div class="container-fluid" style="padding: 10px; background-color: whitesmoke">
    <div class="row" style="padding-bottom: 0px" >
    <h2 class = "text-center">{{title}}</h2>
    </div>
    <div class="row" style="">
        <div class = "col-md-3"></div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="keyword">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" >Go!</button>

                         </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class = "col-md-3"></div>
    </div>
    <div class="row" style="height: 20px">

    </div>
<div class="row">
    <div class = "col-md-2">
        <my-menu [selectedCategory]="selectedCategory"></my-menu>
    </div>
    <div class = "col-md-10">
        <media-list [category]="selectedCategory" [keyword]="keyword"></media-list>
    </div>
</div>
</div>
