<div class="container-fluid" style="padding: 10px; background-color: whitesmoke">
    <div class="row" style="padding-bottom: 0px" >
    <h2 class = "text-center">{{title}}</h2>
    </div>
    <div class="row" style="">
        <my-searchbox></my-searchbox>
    </div>
    <div class="row" style="height: 20px">

    </div>
<div class="row">
    <div class = "col-md-2">
        <my-menu [selectedCategory]="selectedCategory"></my-menu>
    </div>
    <div class = "col-md-10">
        <media-list [category]="selectedCategory"></media-list>
    </div>
</div>
</div>
